---
language: node_js
node_js:
  - '0.10'
services:
  - neo4j
before_script:
  - npm install -g grunt-cli
after_script:
  - wget -qO- https://toolbelt.heroku.com/install-ubuntu.sh | sh
  - git remote add heroku git@heroku.com:movie-database-team3.git
  - echo "Host heroku.com" >> ~/.ssh/config
  - echo "   StrictHostKeyChecking no" >> ~/.ssh/config
  - echo "   CheckHostIP no" >> ~/.ssh/config
  - echo "   UserKnownHostsFile=/dev/null" >> ~/.ssh/config
  - heroku keys:clear
  - yes | heroku keys:add
  - yes | git push heroku master
env:
  global:
  - secure: "OUaLU8ovAFV7pFJUjeKbtukuTbPDbmIDfKjBvQadE9n3kRTkp86xLx9G3Jo5\njXxoPUeErGk8pH1jrXZU7HK/wCdoLZKj/ShbuulXjkJjxGwMvM9xemOoegPQ\nC/0X99ZZjU1AVSBbICVr5aG7VwFOOjE0f30bUQI3IDsIua2B4bM="
